<h1 class="center-video">Animation Tool</h1>
@if(!preferenceService.hideHowTo){
<div
  class="iframe-container"
  matTooltip="Place holder video meanwhile someone makes one on how to use this tool"
  matTooltipPosition="above"
>
  <iframe
    src="https://www.youtube.com/embed/YbclYBh9n8I?si=YNQGZPd4XeuvNny4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  >
  </iframe>
</div>
} @if(isLoading()){
<div class="center">
  <mat-spinner></mat-spinner>
</div>
} @if(nbtList.length){
<app-steps />
}

<div class="center">
  <!-- TODO: Import more than one NBT Structure -->
  <button mat-fab extended (click)="fileInputRef.nativeElement.click()">
    <mat-icon>upload_file</mat-icon>
    {{ nbtList.length ? 'Import another NBT file' : 'Import NBT file' }}
  </button>
</div>

<input
  type="file"
  #fileInput
  (change)="onFileInput($event)"
  accept=".nbt"
  style="display: none"
  multiple
/>
