<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

<div class="grid">
  @for (template of templateList; track template) {
  <div
    class="template-container"
    [matTooltip]="template.tooltip"
    [matTooltipDisabled]="preferenceService.isDisableTooltips"
    (click)="addTemplate(template)"
    (mouseenter)="template.previewMode = false; playVideo()"
    (mouseleave)="template.previewMode = true; pauseVideo()"
  >
    @if(template.previewMode) {
    <img [src]="template.thumbnail" width="80%" [alt]="template.name" />
    } @else {
    <div class="video-wrapper">
      <video #video muted loop preload="none" class="hover-video">
        <source src="template-images/scaleup.mp4" type="video/mp4" />
        Your browser does not support videos.
      </video>
    </div>
    }
    <div>{{ template.name }}</div>
  </div>
  }
  <div class="template-container" (click)="openGitHub()">
    <img src="addmore.png" width="125%" alt="Add more templates" />
    <div>Add more templates</div>
  </div>
</div>
