<div class="grid">
  @for (template of templateList; track template) {
  <div
    class="template-container"
    [matTooltip]="template.tooltip"
    [matTooltipDisabled]="preferenceService.isDisableTooltips"
    (click)="addTemplate(template)"
  >
    <img [src]="template.gif" width="100%" [alt]="template.name" />
    <div>{{ template.name }}</div>
  </div>
  }
  <div class="template-container" (click)="openGitHub()">
    <img src="addmore.png" width="125%" alt="Add more templates" />
    <div>Add more templates</div>
  </div>
</div>
