.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
}

.template-container {
  align-items: center;
  justify-items: center;
  margin-bottom: 15px;
}

.template-container:hover {
  transform: scale(1.05); /* TODO: H  */
  transition-duration: 15ms;
  cursor: pointer;
}
