<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<h2 style="text-align: center">Templates</h2>
<div class="grid">
  @for (template of templateList; track template) {
  <div
    class="template-container"
    [matTooltip]="template.tooltip"
    [matTooltipDisabled]="preferenceService.isDisableTooltips"
    (click)="addTemplate(template)"
  >
    <div
      class="video-container"
      (mouseenter)="video.play()"
      (mouseleave)="video.pause(); video.currentTime = 0"
    >
      <video #video muted loop class="video">
        <source src="template-images/scaleup.mp4" type="video/mp4" />
        Your browser does not support videos.
      </video>
    </div>
    <div>{{ template.name }}</div>
  </div>
  }
  <div
    class="template-container"
    matTooltip="Contribute to the project by proposing new templates"
    [matTooltipDisabled]="preferenceService.isDisableTooltips"
  >
    <div class="video-container" (click)="openGitHub()">
      <img src="addmore.png" width="80%" alt="Add more templates" />
    </div>
    <div>Add more templates</div>
  </div>
</div>
