<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="grid">
  <div class="options">
    <mat-list role="list">
      <mat-list-item
        [class]="selectedSettingPage.value === 'theme' ? 'selected' : ''"
        (click)="selectedSettingPage.setValue('theme')"
        role="listitem"
        ><mat-icon>dark_mode</mat-icon>Theme</mat-list-item
      >
      <mat-list-item
        [class]="selectedSettingPage.value === 'preferences' ? 'selected' : ''"
        (click)="selectedSettingPage.setValue('preferences')"
        role="listitem"
        ><mat-icon>tune</mat-icon>Preferences</mat-list-item
      >
    </mat-list>
  </div>

  <div class="display-setting">
    @if(selectedSettingPage.value === 'theme'){
    <div class="mb-1">
      <mat-slide-toggle
        (change)="onThemeChange()"
        [formControl]="isDarkModeControl"
        >Dark Mode</mat-slide-toggle
      >
    </div>
    } @if(selectedSettingPage.value === 'preferences'){
    <div class="mb-1">
      <mat-slide-toggle
        (change)="
          preferenceService.isDisableTooltips = isTooltipDisabledControl.value
        "
        [formControl]="isTooltipDisabledControl"
        >Disable Tooltip</mat-slide-toggle
      >
    </div>
    <div class="mb-1">
      <mat-slide-toggle
        (change)="preferenceService.autoRemoveAir = autoRemoveControl.value"
        [formControl]="autoRemoveControl"
        >Automatically remove Air blocks</mat-slide-toggle
      >
    </div>
    <div class="mb-1">
      <mat-slide-toggle
        (change)="preferenceService.hideHowTo = hideHowToControl.value"
        [formControl]="hideHowToControl"
        >Hide How to video</mat-slide-toggle
      >
    </div>
    <div class="mb-1">
      <mat-slide-toggle
        (change)="preferenceService.skipBlockList = skipBlockListControl.value"
        [formControl]="skipBlockListControl"
        >Skip Block list</mat-slide-toggle
      >
    </div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Done</button>
</mat-dialog-actions>
