<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="grid">
  <div class="options">
    <mat-list role="list">
      <mat-list-item
        (click)="selectedSettingPage.setValue('theme')"
        role="listitem"
        ><mat-icon>dark_mode</mat-icon>Theme</mat-list-item
      >
      <mat-list-item
        (click)="selectedSettingPage.setValue('preferences')"
        role="listitem"
        ><mat-icon>tune</mat-icon>Preferences</mat-list-item
      >
    </mat-list>
    TODO: Selected class to show which page is selected
  </div>

  <div class="display-setting">
    @if(selectedSettingPage.value === 'theme'){
    <div>
      <mat-slide-toggle
        (change)="onThemeChange()"
        [formControl]="isDarkModeControl"
        >Dark Mode</mat-slide-toggle
      >
    </div>
    <div>Site Color</div>
    } @if(selectedSettingPage.value === 'preferences'){ TODO: figure out what
    pref to do and store as cookie
    <div>Disable tooltips</div>
    <div>Automatically clear Air blocks</div>
    <div>Hide How To Video</div>
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Done</button>
</mat-dialog-actions>
