<div style="margin-top: 30px"></div>
<mat-accordion class="headers-align">
  <mat-expansion-panel
    [expanded]="step() === 0"
    (opened)="setStep(0)"
    hideToggle
  >
    <mat-expansion-panel-header #blockList>
      <mat-panel-title> Block list </mat-panel-title>
      <mat-panel-description>
        Filter the blocks
        <mat-icon>format_list_bulleted</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-block-display #appBlockDisplay [blocListSelected]="step() === 1" />

    <mat-action-row>
      <button mat-button (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step() === 1"
    (opened)="setStep(1)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Animations </mat-panel-title>
      <mat-panel-description>
        Add animations and properties
        <mat-icon>tune</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-animation-settings [commandsSelected]="step() === 2" />

    <mat-action-row>
      <button mat-button (click)="prevStep()">Previous</button>
      <button mat-button (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step() === 2"
    (opened)="setStep(2)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Commands </mat-panel-title>
      <mat-panel-description>
        Generate commands or Datapack files
        <mat-icon>file_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div style="height: 300px">
      <app-generate-command></app-generate-command>
    </div>
    <mat-action-row>
      <button mat-button (click)="prevStep()">Previous</button>
      <button mat-button (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
