<mat-stepper orientation="vertical" linear class="two-col-stepper">
  <mat-step label="Block list">
    <div>
      <app-block-display></app-block-display>
      <div style="margin: 10px">
        <button mat-button matStepperPrevious style="margin-right: 5px">
          Back
        </button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Animation" [optional]="true">
    <app-animation-settings />
    <div style="margin: 10px">
      <button mat-button matStepperPrevious style="margin-right: 5px">
        Back
      </button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Generate commands">
    Move the button to add another nbt here instead
    <div style="margin: 10px">
      <button mat-button matStepperPrevious style="margin-right: 5px">
        Back
      </button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-stepper>
