<div style="margin-top: 30px"></div>

<mat-stepper class="stepper" #stepper>
  <mat-step state="blockList">
    <ng-template matStepLabel>1 - Block List</ng-template>
    <app-block-display #appBlockDisplay [blocListSelected]="step() === 0" />
    <div class="my-1">
      <mat-divider class="mb-1 mt-1" />
    </div>
    <div class="action-container">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step state="animation">
    <ng-template matStepLabel>2 - Animations</ng-template>
    <app-animation-settings [commandsSelected]="step() === 2" />

    <div class="my-1">
      <mat-divider class="mb-1 mt-1" />
    </div>
    <div class="action-container">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step state="command">
    <ng-template matStepLabel>3 - Commands</ng-template>
    <app-generate-command />
    <div class="my-1">
      <mat-divider class="mb-1 mt-1" />
    </div>
    <div class="action-container">
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>

  <!-- Icons Override -->
  <ng-template matStepperIcon="blockList">
    <mat-icon>format_list_bulleted</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="animation">
    <mat-icon>tune</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="command">
    <mat-icon>file_copy</mat-icon>
  </ng-template>
</mat-stepper>

<!-- Accordion view-->
<!-- <mat-accordion class="headers-align" #blockList>
  <mat-expansion-panel
    [expanded]="step() === 0"
    (opened)="setStep(0)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title> 1 - Block list </mat-panel-title>
      <mat-panel-description>
        Filter the blocks
        <mat-icon>format_list_bulleted</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-block-display #appBlockDisplay [blocListSelected]="step() === 0" />

    <mat-action-row>
      <button mat-button (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step() === 1"
    (opened)="setStep(1)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title> 2 - Animations </mat-panel-title>
      <mat-panel-description>
        Configure the animation properties
        <mat-icon>tune</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-animation-settings [commandsSelected]="step() === 2" />

    <mat-action-row>
      <button mat-button (click)="prevStep()">Previous</button>
      <button mat-button (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel
    [expanded]="step() === 2"
    (opened)="setStep(2)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title> 3 - Commands </mat-panel-title>
      <mat-panel-description>
        Generate commands or Datapack files
        <mat-icon>file_copy</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <app-generate-command></app-generate-command>
    </div>
    <mat-action-row>
      <button mat-button (click)="prevStep()">Previous</button>
      <button mat-button (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->
