.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

mat-panel-title {
  font-size: 150%;
}

mat-expansion-panel {
  margin: 15px;
}
