<div class="button-container mb-1">
  <button mat-flat-button (click)="createCommands()">Create commands</button>
  <button mat-flat-button (click)="generateFiles()">Download Datapack</button>
</div>

@if(commandGeneratedList.length > 1){
<mat-tab-group dynamicHeight>
  @for(command of commandGeneratedList; track command){
  <mat-tab [label]="command.name">
    <button mat-flat-button class="my-1" [cdkCopyToClipboard]="command.command">
      <mat-icon>content_copy</mat-icon>Copy
    </button>
    <div>
      <textarea matInput readonly class="command-container">{{
        command.command
      }}</textarea>
    </div>
  </mat-tab>
  }
</mat-tab-group>
} @else if (commandGeneratedList.length){
<button
  class="mb-1"
  mat-flat-button
  [cdkCopyToClipboard]="commandGeneratedList[0].command"
>
  <mat-icon>content_copy</mat-icon>
  Copy
</button>
<textarea matInput readonly class="command-container">{{
  commandGeneratedList[0].command
}}</textarea>
}

<!-- <mat-form-field>
  <mat-label>Command (Animation X)</mat-label>
  <textarea
    matInput
    readonly
    style="width: 100%; height: 80%"
  ></textarea>
</mat-form-field> -->
