<div class="button-container mb-1">
  <button mat-flat-button (click)="createCommands()">Create commands</button>
  <button mat-flat-button (click)="generateFiles()">Download Datapack</button>
</div>

@if(commandGeneratedList.length > 1){
<mat-tab-group dynamicHeight>
  @for(command of commandGeneratedList; track command){
  <mat-tab [label]="command.name">
    <button
      class="mb-1 mt-1"
      mat-flat-button
      [cdkCopyToClipboard]="command.command"
      #tooltip="matTooltip"
      (click)="tooltip.show(0); copyAction()"
      [matTooltip]="isCopyConfirm ? 'Command copied!' : undefined"
      [matTooltipPosition]="'below'"
      [matTooltipShowDelay]="0"
    >
      <mat-icon>{{ isCopyConfirm ? 'check' : 'content_copy' }}</mat-icon>
      Copy
    </button>
    <div>
      <textarea matInput readonly class="command-container">{{
        command.command
      }}</textarea>
    </div>
  </mat-tab>
  }
</mat-tab-group>
} @else if (commandGeneratedList.length){
<button
  class="mb-1"
  mat-flat-button
  [cdkCopyToClipboard]="commandGeneratedList[0].command"
  #tooltip="matTooltip"
  (click)="tooltip.show(0); copyAction()"
  [matTooltip]="isCopyConfirm ? 'Command copied!' : undefined"
  [matTooltipPosition]="'below'"
  [matTooltipShowDelay]="0"
>
  <mat-icon>{{ isCopyConfirm ? 'check' : 'content_copy' }}</mat-icon>
  Copy
</button>
<textarea matInput readonly class="command-container">{{
  commandGeneratedList[0].command
}}</textarea>
}
