<div class="animation-tabs-wrapper">
  <mat-tab-group
    [selectedIndex]="tabIndex()"
    (selectedIndexChange)="tabIndex.set($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    @for (properties of allAnimationProperties; track properties; let index =
    $index) {
    <mat-tab [label]="properties.name">
      <!-- Structure Selection -->
      @if(structureList.length > 1 ){
      <h3>Structure</h3>
      <mat-form-field class="mb-1">
        <mat-label>Structure</mat-label>
        <mat-select
          (selectionChange)="transferAnimation($event.value, properties, index)"
          [formControl]="properties.structureName"
        >
          @for (structure of structureList; track structure) {
          <mat-option [value]="structure.name">{{ structure.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-divider />
      }

      <!-- Command Selection -->
      <h3>Command</h3>
      <mat-chip-listbox
        (change)="
          updateAnimationName(
            properties.structureName.value,
            $event.value,
            index,
            properties.isTemplate ? properties.templateName : undefined
          )
        "
        [formControl]="properties.command"
        class="mb-1"
      >
        <mat-chip-option
          matTooltip="Set the blocks at the specified coordinates like a normal building"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          value="set"
          selected
          >Set block</mat-chip-option
        >
        <mat-chip-option
          matTooltip="Display the blocks at the specified coordinates. The blocks will be visible but not interactable and will count as Entities"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          value="display"
          >Display block</mat-chip-option
        >
        @if(allAnimationProperties.length > 1){
        <mat-chip-option
          matTooltip="Destroy the blocks of the chosen animation"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          value="destroy"
          >Destroy block</mat-chip-option
        >
        } @if(hasDisplayAnimation()) {
        <mat-chip-option
          matTooltip="(NOT YET IMPLEMENTED) Translate the blocks of the chosen animation"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          value="translate"
          >Translate Display</mat-chip-option
        >}
      </mat-chip-listbox>
      <mat-divider />

      <div class="content">
        <!-- Destroy Animation -->
        @if (properties.command.value === 'destroy') {
        <h3>Destroy</h3>
        <mat-form-field class="mb-1">
          <mat-label>Animation to destroy</mat-label>
          <mat-select
            [required]="true"
            [formControl]="properties.removeAnimation"
          >
            @for (animation of allAnimationProperties; track animation) { @if
            (animation.command.value !== 'destroy') {
            <mat-option [value]="animation">{{ animation.name }}</mat-option>
            } }
          </mat-select>
        </mat-form-field>
        } @else {
        <mat-divider />
        <!-- Coordinates Section -->
        <h3>Coordinates</h3>
        @if (properties.command.value === 'display') {
        <div class="mb-1">
          <mat-button-toggle-group [formControl]="properties.coordinateOption">
            <mat-button-toggle
              matTooltip="Building will stay at the same coordinates"
              [matTooltipDisabled]="preferenceService.isDisableTooltips"
              value="static"
            >
              Static Coordinates
            </mat-button-toggle>
            <mat-button-toggle
              matTooltip="Building will translate to new coordinates"
              [matTooltipDisabled]="preferenceService.isDisableTooltips"
              value="gradual"
            >
              Gradual Coordinates
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        }
        <div class="coordinates mb-1">
          <div
            matTooltip="Coordinates which the building will be built"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            @if (properties.coordinateOption.value === 'gradual') {
            <b>Initial: </b>
            }
            <mat-form-field>
              <mat-label>X</mat-label>
              <input type="number" matInput [formControl]="properties.x" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Y</mat-label>
              <input type="number" matInput [formControl]="properties.y" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Z</mat-label>
              <input type="number" matInput [formControl]="properties.z" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Facing</mat-label>
              <mat-select [formControl]="properties.facing">
                <mat-option value="north">North</mat-option>
                <mat-option value="east">East</mat-option>
                <mat-option value="south">South</mat-option>
                <mat-option value="west">West</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          @if ( properties.coordinateOption.value === 'gradual' &&
          properties.command.value === 'display' ) {
          <div
            matTooltip="Coordinates which the building will be moved to"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            <b>Final: </b>
            <mat-form-field>
              <mat-label>X</mat-label>
              <input type="number" matInput [formControl]="properties.endX" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Y</mat-label>
              <input type="number" matInput [formControl]="properties.endY" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Z</mat-label>
              <input type="number" matInput [formControl]="properties.endZ" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Facing</mat-label>
              <mat-select [formControl]="properties.facingEnd">
                <mat-option value="north">North</mat-option>
                <mat-option value="east">East</mat-option>
                <mat-option value="south">South</mat-option>
                <mat-option value="west">West</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-slide-toggle
            [formControl]="properties.shouldSetBlock"
            matTooltip="Should it set the block after the translation? (It will replace the display blocks with real blocks)"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
            >Set block after translation</mat-slide-toggle
          >
          }
        </div>
        }

        <mat-divider />

        <!-- Animation Timing -->
        <div class="center">
          <h3 [className]="properties.timing.value ? 'disabled' : ''">
            Animation Timing
          </h3>
          <mat-slide-toggle
            [formControl]="properties.timing"
            matTooltip="When on: the build will animate in gradually | When off: it appears instantly"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
            (change)="properties.scaleOption.setValue('static')"
          >
            Enable Animation
          </mat-slide-toggle>
        </div>

        @if (properties.timing.value) {
        <div class="center" style="display: flex">
          <mat-card-content>
            <mat-form-field>
              <mat-label>Animation speed</mat-label>
              <input
                matInput
                matTooltip="Higher value is slower (number of ticks before the next layer appears)"
                [matTooltipDisabled]="preferenceService.isDisableTooltips"
                type="number"
                [min]="1"
                [max]="500"
                [formControl]="properties.speed"
              />
            </mat-form-field>
          </mat-card-content>
          <mat-form-field
            matTooltip="From which axis the animation will start"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            <mat-label>Animation order</mat-label>
            <mat-select [formControl]="properties.animationOrder">
              <mat-option value="x">X</mat-option>
              <mat-option value="y">Y</mat-option>
              <mat-option value="z">Z</mat-option>
              <mat-option value="fromBlock">From a block</mat-option>
              <mat-option value="random">Random</mat-option>
            </mat-select>
          </mat-form-field>
          @if(properties.animationOrder.value === 'fromBlock'){
          <mat-form-field style="width: 100%">
            <mat-label>Order from block</mat-label>
            <input
              type="text"
              matInput
              [formControl]="properties.orderFromBlock"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (block of getBlockList(properties); track block) {
              <mat-option [value]="block">{{ block }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          } @if (properties.animationOrder.value !== 'random' &&
          properties.animationOrder.value !== 'fromBlock') {
          <mat-slide-toggle
            [formControl]="properties.isAscending"
            matTooltip="Should it Start from the smallest value and end with the highest value"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            Ascending order
          </mat-slide-toggle>
          <div
            matTooltip="Add a level of randomness to the current animation order. (0: No randomness)"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            <div class="randomness-label-container">
              <label for="slider">Randomness: </label>
              <label for="slider"> {{ properties.randomness.value }}</label>
            </div>
            <mat-slider [max]="10" [min]="0" [step]="1">
              <input
                [formControl]="properties.randomness"
                matSliderThumb
                id="slider"
              />
            </mat-slider>
          </div>
          }
        </div>
        }

        <!-- Scaling Section -->
        @if (displayScaling(properties)) {
        <mat-divider />
        <h3>Scaling</h3>
        @if (properties.command.value === 'display' && properties.timing.value)
        {
        <div class="mb-1">
          <mat-button-toggle-group [formControl]="properties.scaleOption">
            <mat-button-toggle
              matTooltip="Scale will stay the same size"
              value="static"
              [matTooltipDisabled]="preferenceService.isDisableTooltips"
            >
              Static Scale
            </mat-button-toggle>
            <mat-button-toggle
              matTooltip="Scale will gradually change during the animation"
              [matTooltipDisabled]="preferenceService.isDisableTooltips"
              value="gradual"
            >
              Gradual Scale
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        }
        <div class="mb-1 center">
          @if (properties.scaleOption.value === 'static' &&
          properties.command.value === 'display' ) {
          <mat-form-field>
            <input
              matInput
              type="number"
              [formControl]="properties.staticScale"
              min="0.001"
            />
            <mat-label>Scaling</mat-label>
          </mat-form-field>
          } @else {
          <ng-container
            *ngTemplateOutlet="
              gradualScale;
              context: { properties: properties }
            "
          ></ng-container>
          @if(properties.gradualScaleEnd.value === 1 && properties.command.value
          !== 'destroy') {
          <mat-slide-toggle
            [formControl]="properties.shouldSetBlock"
            matTooltip="Should it set the block after the scaling animation? (It will replace the display blocks with real blocks)"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
            >Set block to end scale</mat-slide-toggle
          >
          } }
        </div>
        }

        <!-- Transition Section -->
        @if (allAnimationProperties.length > 1) {
        <mat-divider />
        <h3>Transition</h3>
        <mat-form-field
          class="mb-1"
          matTooltip="Animation that will start after this one ends. Leave empty if you don't want any animation to play after."
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
        >
          <mat-label>Animation to play after</mat-label>
          <mat-select [formControl]="properties.nextAnimation">
            @for (animation of allAnimationProperties; track animation) {
            <mat-option [value]="animation">{{ animation.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </div>

      <!-- Footer Actions -->
      <div class="footer">
        @if (properties.command.value !== 'destroy') {
        <button
          mat-button
          matTooltip="Add a destroy animation for this animation"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          (click)="addDestroyAnimation(properties)"
        >
          Add destroy for this animation
        </button>
        } @if (allAnimationProperties.length > 1) {
        <button
          mat-button
          matTooltip="Remove this animation"
          [matTooltipDisabled]="preferenceService.isDisableTooltips"
          (click)="removeAnimation(index, properties)"
        >
          Remove
        </button>
        }
      </div>
    </mat-tab>
    }
    <mat-tab id="add">
      <ng-template mat-tab-label>
        <div style="text-align: center; width: 100%">
          <button mat-button>
            <mat-icon style="margin: 0">add</mat-icon>
            Add new Animation
          </button>
        </div>
      </ng-template>
      <div class="my-1">
        @if (!isAddTemplate) {
        <div class="button-center">
          <button mat-flat-button mat-dialog-close (click)="addAnimation()">
            Custom Animation
          </button>
          <button
            mat-flat-button
            (click)="isAddTemplate = true"
            matTooltip="Select an animation from existing Templates to not bother with configurations"
            [matTooltipDisabled]="preferenceService.isDisableTooltips"
          >
            Template Animation
          </button>
        </div>
        } @else {
        <app-template-list (templateEmit)="addTemplate($event)" />
        <button mat-button (click)="isAddTemplate = false">Back</button>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Gradual Scale Template -->
<ng-template #gradualScale let-properties="properties">
  <div class="center">
    <mat-form-field>
      <input
        matInput
        type="number"
        [formControl]="properties.gradualScaleStart"
        min="0"
      />
      <mat-label>Start Scale</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        [formControl]="properties.gradualScaleEnd"
        min="0"
      />
      <mat-label>End Scale</mat-label>
    </mat-form-field>
    <div
      matTooltip="Speed at which the scale will change"
      [matTooltipDisabled]="preferenceService.isDisableTooltips"
    >
      <div class="randomness-label-container">
        <label for="slider">Scale time: </label>
        <label for="slider"> {{ properties.scaleSpeed.value }}</label>
      </div>
      <mat-slider [max]="100" [min]="1" [step]="1">
        <input
          [formControl]="properties.scaleSpeed"
          matSliderThumb
          id="slider"
        />
      </mat-slider>
    </div>
  </div>
</ng-template>
