<mat-tab-group>
  TODO: Add more animation creates new tab
  <mat-tab label="First">

    <mat-radio-group [formControl]="commandSetDisplayToggle" (onchange)="commandChange()" aria-label="Select an option">
      <mat-radio-button value="set">Set block</mat-radio-button>
      <mat-radio-button value="display">Display block</mat-radio-button>
      <mat-radio-button value="destroy">Destroy block</mat-radio-button>
    </mat-radio-group>
  
    @if(commandSetDisplayToggle.value === 'display'){
      <mat-form-field>
        <input
          matInput
          type="text"
          [formControl]="scaleInput"
          placeholder="Enter something"
        />
        <mat-label>Scaling</mat-label>
      </mat-form-field>
    }
  </mat-tab>
  <mat-tab label="Second"> Add animation </mat-tab>
</mat-tab-group>
