.animation-tabs-wrapper {
  position: relative;
  padding-right: 48px;
}
.add-animation-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  min-width: 48px;
  line-height: 48px;
  padding: 0;
}

.coordinates mat-form-field {
  margin-right: 5px;
  width: 6rem;
}

.center {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.randomness-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.coordinates {
  grid-template-columns: auto auto auto;
  display: grid;
}

.scale {
  grid-template-columns: auto auto;
  display: grid;
}

.button-center {
  display: grid;
  height: 100px;
  justify-content: center;
}
