.table-container {
  max-height: 400px;
  overflow: auto;
}

mat-icon {
  color: var(--mat-sys-error);
}

.table-container .mat-mdc-row:hover {
  background-color: var(--mat-sys-outline);
  color: black;

  mat-icon {
    color: #c70000;
  }
}

.table-container .mat-mdc-header-row {
  background-color: var(--mat-sys-on-primary);
  font-size: 110%;
}

.center {
  display: flex;
  align-items: center;
  gap: 1rem;
}
