.table-container {
  max-height: 400px;
  overflow: auto;
}

mat-icon {
  color: var(--mat-sys-error);
}

.table-container .mat-mdc-row:hover {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);

  mat-icon {
    color: var(--mat-sys-error);
  }
}

.table-container .mat-mdc-header-row {
  background-color: var(--mat-sys-on-primary);
  font-size: 110%;
}

.center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.block-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.block-icon.loaded {
  opacity: 1;
  background: none;
}

.mat-column-icon {
  width: 128px;
}
